{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 150,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-.*",
    "<THIRD_PARTY_MODULES>",
    "^@/shared/(.*)$",
    "^@/assets/(.*)$",
    "^@/app/(.*)$",
    "^[./]",
    ".*\\.(scss|css)$"
  ],
  "endOfLine": "auto",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
